$default-font: Montserrat, sans-serif;
$accent: orange;
$bg: 180deg, #040420 0%, #080834 100%;
$text: #333;
// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
// $grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1280px, xxl: 1440px);
// $container-max-widths: ( sm: 540px, md: 720px, lg: 968px, xl: 1140px, xxl: 1410px);
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1441px
);
$container-max-widths: (
  sm: 540px,
  md: 740px,
  lg: 994px,
  xl: 1410px
);
$gutter: $grid-gutter-width;
