@import "_mixins/_reset";
@import "vars";
@import "fonts";
@import "libs";
@include reset();
::placeholder {
    color: #666;
}

::selection {
    background-color: $accent;
    color: #fff;
}

html,
body {
    height: auto;
}

body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.65;
    font-family: $default-font;
    overflow-x: hidden;
    color: $text;
    background: linear-gradient(180deg, #040420 0%, #080834 100%);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    &.img-width {
        width: 100%;
    }
}

.text-center {
    text-align: center;
}

b,
strong {
    font-weight: bold;
}

.container {
    @include make-container();
    @include make-container-max-widths();
}

.row {
    @include make-row();
    max-width: 100%;
    margin: 0 auto;
}

.wrapper {
    position: relative;
}

.btn {
    border: 2px solid #ffffff;
    border-radius: 30px;
    width: 252px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: SFProDisplay;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    outline: none;
    transition: all 0.25s ease;
    cursor: pointer;
    @media screen and (max-width: 767px) {
        width: 220px;
        font-size: 17px;
        height: 56px;
    }
    &_white {
        color: #ffffff;
        background: transparent;
        &:hover {
            color: #1e55e2;
            background: #ffffff;
        }
    }
    &_blue {
        color: #ffffff;
        border: none;
        background: linear-gradient(219.07deg, #1e55e2 45.99%, #1e6ce2 96.32%);
        &:hover {
            box-shadow: 0px 7px 30px #1e55e2;
        }
    }
}

.h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 72px;
    color: #ffffff;
    @media screen and (max-width: 1440px) {
        font-size: 64px;
    }
    @media screen and (max-width: 1023px) {
        font-size: 48px;
    }
    @media screen and (max-width: 767px) {
        font-size: 36px;
    }
    @media screen and (max-width: 410px) {
        font-size: 28px;
    }
}

.h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 48px;
    color: #ffffff;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 100%;
        background: #1e55e2;
        bottom: 10px;
        right: -13px;
        @media screen and (max-width: 767px) {
            bottom: 8px;
        }
        @media screen and (max-width: 410px) {
            bottom: 7px;
        }
    }
    @media screen and (max-width: 767px) {
        font-size: 36px;
    }
    @media screen and (max-width: 410px) {
        font-size: 28px;
    }
}

.preloader {
    background: linear-gradient($bg);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    &__timer {
        font-family: SFProDisplay;
        font-size: 14px;
        color: #ffffff;
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 22px;
        color: #3d3d4c;
    }
    &__svg {
        font-family: Montserrat;
        font-size: 148px;
        width: 1500px;
        height: 226px;
        margin: 0 auto;
        max-width: 100%;
        display: none;
    }
    &__btn {
        font-family: SFProDisplay;
        width: 321px;
        max-width: 100%;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        line-height: normal;
        font-size: 17px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: none;
        outline: none;
        opacity: 0;
        visibility: hidden;
        transition: all 1s ease;
        cursor: pointer;
        background: linear-gradient(212.51deg, #1e55e2 45.99%, #1e6ce2 96.32%);
        box-shadow: 0px 7px 30px #1e55e2;
        color: #ffffff;
        @media screen and (max-width: 767px) {
            width: 220px;
            font-size: 14px;
            height: 56px;
        }
        &_visible {
            opacity: 1;
            visibility: visible;
        }
        &:hover {
            color: #1e55e2;
            background: #ffffff;
            box-shadow: none;
            transform: translateY(-5px);
        }
    }
    &__textParticle {
        fill: none;
        stroke: white;
        stroke-dasharray: 7% 29%;
        stroke-dashoffset: 6%; // stroke-dasharray: 7% 10%;
        // stroke-dashoffset: 12%;
        stroke-width: 2px;
        animation: stroke-offset 2.5s infinite linear;
        &_white {
            stroke: #fff !important;
        }
        &:nth-child(1) {
            stroke: #2865ff;
            animation-delay: -1;
            animation: stroke-offset 2.5s infinite linear;
            transition: stroke 0.5s ease;
        }
        &:nth-child(2) {
            stroke: #2724aa;
            animation: stroke-offset 2.5s infinite linear;
            animation-delay: -2s;
            transition: stroke 1.5s ease;
        }
        &:nth-child(3) {
            stroke: #2d28ff;
            animation: stroke-offset 2.5s infinite linear;
            animation-delay: -3s;
            transition: stroke 2.5s ease;
        }
        &:nth-child(4) {
            stroke: #2d28ff;
            animation: stroke-offset 2.5s infinite linear;
            animation-delay: -4s;
            transition: stroke 3.5s ease;
        }
    }
}

.header {
    display: flex;
    height: 70px;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: transparent;
    transition: all 0.25s ease;
    @media screen and (max-width: 410px) {
        height: 60px;
    }
    &_withBg {
        background: rgba(5, 5, 36, 0.95);
    }
    &__row {
        justify-content: space-between;
        align-items: center;
    }
    &__logoLink {
        width: 240px;
        height: 20px;
        display: flex;
        @media screen and (max-width: 410px) {
            width: 170px;
            height: 14px;
        }
    }
    &__logoImg {
        display: flex;
    }
    &__nav {
        display: flex;
        @media screen and (max-width: 1023px) {
            display: none;
            position: fixed;
            width: 100vw;
            height: 100vh;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            align-items: center;
            justify-content: center;
            &_show {
                display: flex;
            }
            &:before {
                position: fixed;
                content: "";
                left: 0;
                right: 0;
                top: 70px;
                bottom: 0;
                width: 100vw;
                height: calc(100vh - 70px);
                background: rgba(5, 5, 36, 0.95);
                @media screen and (max-width: 410px) {
                    top: 60px;
                    height: calc(100vh - 60px);
                }
            }
        }
    }
    &__navList {
        display: flex;
        align-items: center;
        @media screen and (max-width: 1023px) {
            position: relative;
            flex-direction: column;
        }
    }
    &__navItem {
        margin-left: 35px;
        @media screen and (max-width: 1023px) {
            margin: 0 0 25px;
        }
        &_btnWrap {
            display: none;
            @media screen and (max-width: 1023px) {
                display: flex;
            }
        }
        &_topOffset {
            @media screen and (max-width: 1023px) {
                margin: 35px 0 20px;
            }
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-left: 22px;
            @media screen and (max-width: 1023px) {
                margin: 0;
            }
        }
    }
    &__navLink {
        font-family: SFProDisplay, sans-serif;
        line-height: normal;
        font-size: 17px;
        text-align: right;
        color: #ffffff;
        text-decoration: none;
        transition: all 0.25s ease;
        @media screen and (max-width: 1023px) {
            font-size: 32px;
        }
        &:hover {
            text-decoration: underline;
        }
        &_btn {
            border: 2px solid #ffffff;
            border-radius: 30px;
            width: 155px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                @media screen and (min-width: 1024px) {
                    text-decoration: none;
                    background-color: #fff;
                    color: #1e55e2;
                }
            }
            @media screen and (max-width: 1023px) {
                height: auto;
                width: auto;
                border: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &__menuBtn {
        display: none;
        position: relative;
        z-index: 1;
        cursor: pointer;
        @media screen and (max-width: 1023px) {
            display: block;
        }
    }
}

.banner {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.4);
    }
    &__container {
        position: relative;
        z-index: 1;
    }
    &__videoBg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: inherit;
        height: inherit;
        object-fit: cover;
    }
    &__row {
        flex-direction: column;
        align-items: center;
    }
    &__title {
        width: 710px;
        max-width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }
    &__buttonsWrap {
        display: flex;
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }
    &__btn {
        margin: 0 18px;
        &:first-child {
            @media screen and (max-width: 767px) {
                margin-bottom: 20px;
            }
        }
    }
    &__message {
        font-family: SFProDisplay;
        line-height: normal;
        font-size: 17px;
        text-align: center;
        letter-spacing: 1px;
        color: #a6a6a6;
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        @media screen and (max-width: 767px) {
            bottom: 30px;
        }
        &:before {
            position: absolute;
            left: -19px;
            top: 50%;
            content: "";
            background-image: url(../img/mouse.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 10px;
            height: 17px;
            animation: mouse-scroll 1.5s infinite ease-out;
            transform: scale3d(0.5, 0.5, 0.5);
        }
    }
}

.services {
    padding: 80px 0 200px;
    position: relative;
    @media screen and (max-width: 1600px) {
        padding: 80px 0 175px;
    }
    @media screen and (max-width: 1440px) {
        padding: 70px 0 165px;
    }
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        top: -160px;
        left: 0;
        right: 0;
        background: linear-gradient(0deg, #040420 0%, rgba(4, 4, 32, 0) 100%);
        height: 235px;
    }
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: -30px;
        left: 0;
        right: 0;
        background-image: url(../img/serviceBg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    @media screen and (max-width: 1023px) {
        padding: 80px 0 90px;
    }
    @media screen and (max-width: 767px) {
        padding: 80px 0 15px;
    }
    @media screen and (max-width: 410px) {
        padding: 45px 0 15px;
    }
    &__title {
        margin: 0 auto 120px;
        @media screen and (max-width: 1600px) {
            margin-bottom: 100px;
        }
        @media screen and (max-width: 767px) {
            margin-bottom: 75px;
        }
        @media screen and (max-width: 410px) {
            margin-bottom: 45px;
        }
    }
    &__row {
        position: relative;
        z-index: 1;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media screen and (max-width: 767px) {
            flex-direction: column;
            margin: 0 auto;
            align-items: center;
        }
    }
    &__itemWrap {
        width: 660px;
        position: relative;
        margin-bottom: 40px;
        @media screen and (max-width: 1440px) {
            width: 49%;
        }
        @media screen and (max-width: 1023px) {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media screen and (max-width: 767px) {
            width: 348px;
        }
        @media screen and (max-width: 410px) {
            width: 274px;
        }
        &:nth-child(1) {
            .services__item {
                &:before {
                    width: 114px;
                    height: 114px;
                    background-image: url(../img/services/service1.svg);
                    @media screen and (max-width: 410px) {
                        width: 90px;
                        height: 90px;
                    }
                }
            }
        }
        &:nth-child(2) {
            .services__item {
                &:before {
                    width: 114px;
                    height: 138px;
                    background-image: url(../img/services/service2.svg);
                    @media screen and (max-width: 410px) {
                        width: 90px;
                        height: 109px;
                    }
                }
            }
        }
        &:nth-child(3) {
            .services__item {
                &:before {
                    width: 114px;
                    height: 122px;
                    background-image: url(../img/services/service3.svg);
                    @media screen and (max-width: 410px) {
                        width: 90px;
                        height: 96px;
                    }
                }
            }
        }
        &:nth-child(4) {
            .services__item {
                &:before {
                    width: 126px;
                    height: 126px;
                    background-image: url(../img/services/service4.svg);
                    @media screen and (max-width: 410px) {
                        width: 99px;
                        height: 99px;
                    }
                }
            }
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        padding: 40px 28px 60px 228px;
        width: 100%;
        height: 250px;
        position: relative;
        background: #161630;
        border-radius: 8px;
        transition: all 0.25s ease;
        cursor: pointer;
        @media screen and (max-width: 1600px) {
            padding: 30px 28px 40px 228px;
            height: 235px;
        }
        @media screen and (max-width: 1440px) {
            padding: 40px 28px 40px 168px;
            height: 225px;
        }
        @media screen and (max-width: 1280px) {
            padding: 30px 28px 40px 168px;
            height: 220px;
        }
        @media screen and (max-width: 1023px) {
            padding: 45px 20px 18px;
            height: 370px;
            text-align: center;
        }
        @media screen and (max-width: 767px) {
            padding: 60px 18px 30px;
        }
        @media screen and (max-width: 410px) {
            padding: 30px 15px 18px;
            height: 306px;
        }
        &:before {
            position: absolute;
            content: "";
            left: 44px;
            top: 50%;
            transform: translateY(-50%);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: all 0.25s ease;
            @media screen and (max-width: 1440px) {
                left: 25px;
            }
            @media screen and (max-width: 1023px) {
                position: relative;
                display: block;
                left: auto;
                top: auto;
                transform: none;
                margin: 0 auto 22px;
            }
            @media screen and (max-width: 410px) {
                margin: 0 auto 18px;
            }
        }
        &:hover {
            background: #fff;
            transform: scale(1.06);
            &:before {
                filter: brightness(0.1);
            }
            .services__itemTitle {
                color: #050525;
            }
            .services__itemText {
                color: #919191;
            }
        }
    }
    &__itemTitle {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 32px;
        color: #ffffff;
        margin-bottom: 22px;
        display: block;
        transition: all 0.25s ease;
        @media screen and (max-width: 767px) {
            margin-bottom: 16px;
        }
    }
    &__itemText {
        font-family: SFProDisplay;
        line-height: normal;
        font-size: 17px;
        letter-spacing: 1px;
        color: #b2c3ef;
        margin-bottom: 25px;
        transition: all 0.25s ease;
        @media screen and (max-width: 1440px) {
            font-size: 14px;
            margin-bottom: 20px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.team {
    padding-top: 80px;
    @media screen and (max-width: 1440px) {
        padding-top: 62px;
    }
    @media screen and (max-width: 545px) {
        padding-top: 45px;
    }
    @media screen and (max-width: 410px) {
        padding-top: 15px;
    }
    &__title {
        margin: 0 auto 140px;
        @media screen and (max-width: 1440px) {
            margin: 0 auto 115px;
        }
        @media screen and (max-width: 545px) {
            margin-bottom: 80px;
        }
        @media screen and (max-width: 410px) {
            margin-bottom: 60px;
        }
    }
    &__list {
        display: flex;
        width: 100%;
        justify-content: space-between;
        @media screen and (max-width: 1023px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__card {
        width: 425px;
        @media screen and (max-width: 1440px) {
            width: 32%;
        }
        @media screen and (max-width: 992px) {
            width: 425px;
        }
        @media screen and (max-width: 1023px) {
            width: 320px;
            margin-bottom: 50px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media screen and (max-width: 410px) {
            width: 273px;
            margin-bottom: 40px;
        }
    }
    &__personPhoto {
        width: 100%;
        height: 425px;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 24px;
        @media screen and (max-width: 1440px) {
            height: 320px;
        }
        @media screen and (max-width: 1023px) {
            margin-bottom: 20px;
        }
        @media screen and (max-width: 410px) {
            height: 273px;
            margin-bottom: 18px;
        }
    }
    &__socials {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        &:before {
            position: absolute;
            content: "";
            display: block;
            width: 1px;
            height: 28px;
            background-color: #3c3c83;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__socialLink {
        background: #080834;
        width: 46px;
        height: 46px;
        transition: all 0.25s ease;
        @media screen and (max-width: 410px) {
            width: 40px;
            height: 40px;
        }
        &:hover {
            background-color: #dbdbdb;
        }
        &_facebook {
            background-image: url(../img/facebook.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 11px 20px;
            border-top-left-radius: 16px;
            @media screen and (max-width: 410px) {
                background-size: 9px 17px;
            }
        }
        &_linkedIn {
            background-image: url(../img/LinkedIn.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 21px 20px;
            @media screen and (max-width: 410px) {
                background-size: 18px 17px;
            }
        }
    }
    &__name {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 36px;
        color: #ffffff;
        display: block;
        margin-bottom: 16px;
        @media screen and (max-width: 1440px) {
            font-size: 28px;
        }
    }
    &__post {
        font-family: SFProDisplay;
        line-height: normal;
        font-size: 24px;
        color: #ffffff;
        display: block;
        @media screen and (max-width: 410px) {
            font-size: 20px;
        }
    }
}

.projects {
    padding: 70px 0 120px;
    &__title {
        margin: 0 auto 72px;
        @media screen and (max-width: 410px) {
            margin: 0 auto 60px;
        }
    }
    &__wrap {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 135px;
        position: relative;
        @media screen and (max-width: 1440px) {
            justify-content: center;
        }
        @media screen and (max-width: 1023px) {
            margin-bottom: 168px;
        }
        @media screen and (max-width: 545px) {
            margin-bottom: 155px;
        }
        @media screen and (max-width: 410px) {
            margin-bottom: 115px;
        }
        &_tablet {
            margin-bottom: 225px;
            @media screen and (max-width: 1440px) {
                margin-bottom: 135px;
            }
            @media screen and (max-width: 1280px) {
                margin-bottom: 275px;
            }
            @media screen and (max-width: 767px) {
                margin-bottom: 225px;
            }
            @media screen and (max-width: 545px) {
                margin-bottom: 200px;
            }
        }
    }
    &__project {
        margin-bottom: 285px;
        width: 100%;
        @media screen and (max-width: 992px) {
            margin-bottom: 160px;
        }
        @media screen and (max-width: 545px) {
            margin-bottom: 150px;
        }
        @media screen and (max-width: 410px) {
            margin-bottom: 115px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &_infoLeft {
            .projects__presentation {
                margin-right: 235px;
                @media screen and (max-width: 1440px) {
                    margin-right: 0;
                }
            }
            .projects__info {
                @media screen and (max-width: 1440px) {
                    margin-right: 75px;
                }
                @media screen and (max-width: 1280px) {
                    margin-right: 35px;
                }
                @media screen and (max-width: 1023px) {
                    margin-right: 0;
                }
            }
        }
        &_infoRight {
            .projects__presentation {
                margin: 0 0 0 125px;
                @media screen and (max-width: 1440px) {
                    margin: 0;
                }
                @media screen and (max-width: 1280px) {
                    margin-left: auto;
                }
                @media screen and (max-width: 1023px) {
                    margin: 0;
                }
            }
            .projects__info {
                margin-right: 52px;
                @media screen and (max-width: 1440px) {
                    margin-right: 0;
                    margin-left: 75px;
                }
                @media screen and (max-width: 1280px) {
                    margin-left: auto;
                }
                @media screen and (max-width: 1023px) {
                    margin-left: 0;
                }
                @media screen and (max-width: 545px) {
                    margin-bottom: 125px;
                }
                @media screen and (max-width: 410px) {
                    margin-bottom: 85px;
                }
            }
        }
    }
    &__info {
        width: 575px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (max-width: 1440px) {
            width: 495px;
        }
        @media screen and (max-width: 1023px) {
            order: 1;
            margin-bottom: 90px;
        }
        @media screen and (max-width: 545px) {
            width: 350px;
            margin-bottom: 75px;
        }
        @media screen and (max-width: 410px) {
            width: 280px;
            font-size: 36px;
        }
        &_tablet {
            @media screen and (max-width: 1440px) {
                margin-right: auto !important;
            }
            @media screen and (max-width: 1280px) {
                margin: 0 auto 160px;
            }
            @media screen and (max-width: 1023px) {
                margin-bottom: 90px;
            }
            @media screen and (max-width: 545px) {
                margin-bottom: 75px;
            }
            @media screen and (max-width: 410px) {
                margin-bottom: 60px;
            }
        }
    }
    &__projectTitle {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 42px;
        color: #ffffff;
        @media screen and (max-width: 410px) {
            font-size: 36px;
            margin-bottom: 10px;
        }
    }
    &__projectDesc {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 24px;
        color: #575757;
        margin-bottom: 27px;
        @media screen and (max-width: 410px) {
            font-size: 20px;
            margin-bottom: 15px;
        }
    }
    &__tags {
        display: flex;
        margin-bottom: 23px;
        flex-wrap: wrap;
    }
    &__tag {
        font-family: SFProDisplay;
        line-height: normal;
        font-size: 20px;
        text-align: center;
        letter-spacing: 1px;
        color: #e8e8e8;
        min-width: 145px;
        height: 44px;
        padding: 0 25px;
        background: #2d2d40;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 22px;
        @media screen and (max-width: 1440px) {
            margin-right: 18px;
        }
        @media screen and (max-width: 545px) {
            margin: 0 10px 10px 0;
            &:last-child {
                margin: 0;
            }
        }
        @media screen and (max-width: 410px) {
            font-size: 14px;
            padding: 0 15px;
            min-width: 130px;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__resultsTitle {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 24px;
        color: #ffffff;
        margin-bottom: 15px;
        display: block;
    }
    &__resultsList {
        padding: 0;
        margin: 0;
        list-style-position: inside;
        margin-bottom: 74px;
        @media screen and (max-width: 410px) {
            margin-bottom: 35px;
        }
    }
    &__result {
        font-family: SFProDisplay;
        line-height: 28px;
        font-size: 17px;
        color: #ffffff;
        @media screen and (max-width: 410px) {
            font-size: 14px;
            line-height: 24px;
        }
    }
    &__links {
        display: flex;
    }
    &__link {
        width: 167px;
        height: 63px;
        background-color: #2d2d40;
        padding: 8px;
        border-radius: 8px;
        transition: all 0.25s ease;
        @media screen and (max-width: 410px) {
            width: 127px;
            height: 48px;
            padding: 3px;
        }
        &:hover {
            background-color: black;
        }
        &_playMarket {
            margin-right: 10px;
            &:hover {
                #playMarketBg {
                    fill: black;
                }
            }
        }
        &_appStore {
            &:hover {
                #appStoreBg {
                    fill: black;
                }
            }
        }
        svg {
            width: 100%;
            height: 100%;
            transition: all 0.25s ease;
            path {
                transition: all 0.25s ease;
            }
            stop {
                transition: all 0.25s ease;
            }
            linearGradient {
                transition: all 0.25s ease;
            }
        }
        #playMarketBg {
            fill: #2d2d40;
        }
        #appStoreBg {
            fill: #2d2d40;
        }
    }
    &__presentation {
        position: relative;
        @media screen and (max-width: 1023px) {
            order: 2;
        }
        &_tablet {
            position: absolute;
            right: 0;
            margin: 0;
            max-width: 100%;
            top: 50%;
            transform: translateY(-50%);
            margin: 0 !important;
            @media screen and (max-width: 1440px) {
                top: 0;
                right: -12%;
                transform: none;
            }
            @media screen and (max-width: 1280px) {
                position: relative;
                top: auto;
                right: auto;
                margin: 0 auto !important;
            }
        }
    }
    &__linkBtn {
        width: 226px;
        height: 65px;
        background: #2d2d40;
        border-radius: 8px;
        font-family: SFProDisplay;
        line-height: normal;
        font-size: 20px;
        text-align: center;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 34px;
        color: #ffffff;
        text-decoration: none;
        position: relative;
        @media screen and (max-width: 545px) {
            width: 162px;
            height: 50px;
            font-size: 14px;
            padding-right: 26px;
        }
        &:before {
            position: absolute;
            content: "";
            display: flex;
            background-image: url(../img/link.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 20px;
            height: 10px;
            top: 50%;
            transform: translateY(-50%);
            left: 29px;
            @media screen and (max-width: 545px) {
                width: 16px;
                height: 8px;
                left: 20px;
            }
        }
    }
    &__label {
        width: 274px;
        height: 46px;
        background: #424263;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 24px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 20px;
        color: #ffffff;
        position: absolute;
        top: -18px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        @media screen and (max-width: 545px) {
            width: 188px;
            height: 34px;
            font-size: 14px;
            padding-right: 12px;
        }
        &:before {
            position: absolute;
            left: -22px;
            width: 70px;
            height: 70px;
            background-image: url(../img/surface1.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            content: "";
            @media screen and (max-width: 545px) {
                width: 52px;
                height: 52px;
                left: -16px;
            }
        }
    }
    &__frame {
        z-index: 1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        max-width: 100%;
        &:before {
            position: absolute;
            content: "";
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: block;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            overflow: hidden;
            z-index: 1;
        }
        &_phone {
            width: 308px;
            height: 661px;
            @media screen and (max-width: 1360px) {
                width: 284px;
                height: 611px;
            }
            @media screen and (max-width: 545px) {
                width: 275px;
                height: 588px;
            }
            @media screen and (max-width: 410px) {
                width: 198px;
                height: 425px;
            }
            &:before {
                background-image: url(../img/Phone-mockup-green.png);
            }
        }
        &_tablet {
            width: 730px;
            height: 424px;
            overflow: inherit;
            @media screen and (max-width: 1440px) {
                width: 543.61px;
                height: 305.78px;
            }
            @media screen and (max-width: 1280px) {
                width: 692.05px;
                height: 389.28px;
            }
            @media screen and (max-width: 767px) {
                width: 508.08px;
                height: 285.79px;
            }
            @media screen and (max-width: 545px) {
                width: 407px;
                height: 229px;
            }
            @media screen and (max-width: 410px) {
                width: 270.64px;
                height: 152.24px;
            }
            &:before {
                // background-image: url(../img/Tablet-mockup.png);
                @media screen and (max-width: 1440px) {
                    background-size: contain;
                }
            }
            .projects__video {
                width: 98.5%;
                @media screen and (max-width: 1440px) {
                    width: 96.2%;
                }
            }
            iframe #player {
                border-radius: 15px;
                overflow: hidden;
            }
        }
    }
    &__video {
        position: absolute;
        width: 94.66238%;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 20px;
        &_tablet {
            border-radius: 6px;
        }
    }
    &__iconWrap {
        position: absolute;
        width: 220px;
        height: 213px;
        @media screen and (max-width: 1360px) {
            width: 162px;
            height: 157px;
        }
        @media screen and (max-width: 410px) {
            width: 141px;
            height: 141px;
        }
        &_topRigh {
            top: -90px;
            right: -150px;
            @media screen and (max-width: 1360px) {
                top: -75px;
                right: -105px;
            }
            @media screen and (max-width: 1023px) {
                top: -55px;
            }
            @media screen and (max-width: 545px) {
                right: -60px;
            }
            @media screen and (max-width: 410px) {
                top: -50px;
            }
        }
        &_topLeft {
            top: -60px;
            left: -95px;
        }
        &_bottomRight {
            bottom: -130px;
            right: 175px;
            @media screen and (max-width: 1440px) {
                bottom: -100px;
                right: 160px;
            }
            @media screen and (max-width: 1280px) {
                bottom: -105px;
            }
            @media screen and (max-width: 545px) {
                right: 100px;
                bottom: -82px;
            }
            @media screen and (max-width: 410px) {
                right: 40px;
                bottom: -88px;
            }
            svg {
                transform: rotate(38.29deg);
            }
        }
    }
    &__icon {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        &_green {
            .projects__iconParticle {
                &:nth-child(1) {
                    stroke: #27c273;
                    animation-delay: -1;
                }
                &:nth-child(2) {
                    stroke: #136a3d;
                    animation-delay: -2s;
                }
                &:nth-child(3) {
                    stroke: #27c273;
                    animation-delay: -3s;
                }
                &:nth-child(4) {
                    stroke: #136a3d;
                    animation-delay: -4s;
                }
            }
        }
        &_orange {
            .projects__iconParticle {
                &:nth-child(1) {
                    stroke: #edaf00;
                    animation-delay: -1;
                }
                &:nth-child(2) {
                    stroke: #2d2307;
                    animation-delay: -2s;
                }
                &:nth-child(3) {
                    stroke: #edaf00;
                    animation-delay: -3s;
                }
                &:nth-child(4) {
                    stroke: #5e4c18;
                    animation-delay: -4s;
                }
            }
        }
        &_rect {
            font-size: 22em;
        }
        &_triangle {
            font-size: 28em;
        }
    }
    &__iconParticle {
        fill: none;
        stroke-dasharray: 7% 29%;
        stroke-width: 2px;
        stroke-dashoffset: 6%;
        animation: stroke-offset 2.5s infinite linear;
    }
    &__feedback {
        display: flex;
        width: 100%;
        @media screen and (max-width: 1023px) {
            flex-direction: column;
            align-items: center;
            position: relative;
        }
        @media screen and (max-width: 545px) {
            width: 350px;
            margin: 0 auto;
        }
        @media screen and (max-width: 410px) {
            width: 275px;
        }
    }
    &__clientAvatar {
        width: 97px;
        height: 97px;
        border-radius: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        @media screen and (max-width: 1023px) {
            margin-bottom: 45px;
            position: static;
        }
        @media screen and (max-width: 410px) {
            margin-bottom: 22px;
        }
        &_orange {
            &:before {
                background-image: url(../img/quotes-orange.svg);
            }
        }
    }
    &__feedbackText {
        font-family: SFProDisplay;
        font-weight: 500;
        font-style: italic;
        line-height: 32px;
        font-size: 24px;
        color: #ffffff;
        margin-bottom: 23px;
        @media screen and (max-width: 410px) {
            font-size: 17px;
            margin-bottom: 15px;
        }
    }
    &__clientInfo {
        font-family: SFProDisplay;
        font-weight: 500;
        font-style: italic;
        line-height: normal;
        font-size: 17px;
        color: #a8a8a8;
        display: block;
        @media screen and (max-width: 410px) {
            font-size: 14px;
        }
    }
    &__feedbackLeftSide {
        margin-right: 60px;
        padding-left: 215px;
        position: relative;
        @media screen and (max-width: 1360px) {
            padding-left: 180px;
        }
        @media screen and (max-width: 1280px) {
            margin-right: 45px;
            padding-left: 65px;
        }
        @media screen and (max-width: 1023px) {
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        &:before {
            position: absolute;
            content: "";
            display: block;
            background-image: url(../img/quotes-green.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 30px;
            height: 23px;
            left: 100px;
            top: -42px;
            @media screen and (max-width: 1280px) {
                left: 0;
            }
            @media screen and (max-width: 1023px) {
                left: 0;
            }
        }
    }
    &__feedbackRightSide {
        max-width: 863px;
    }
}

.technology {
    padding: 250px 0 180px;
    @media screen and (max-width: 1440px) {
        padding: 220px 0 180px;
    }
    @media screen and (max-width: 1023px) {
        padding: 135px 0 110px;
    }
    @media screen and (max-width: 410px) {
        padding: 100px 0 25px;
    }
    &__title {
        margin: 0 auto 170px;
        @media screen and (max-width: 1440px) {
            margin: 0 auto 125px;
        }
        @media screen and (max-width: 1023px) {
            margin: 0 auto 105px;
        }
        @media screen and (max-width: 545px) {
            margin-bottom: 90px;
        }
        @media screen and (max-width: 410px) {
            margin-bottom: 60px;
        }
    }
    &__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        height: 120px;
        width: 25%;
        background-repeat: no-repeat;
        margin-bottom: 80px;
        @media screen and (max-width: 1023px) {
            width: 50%;
            background-position: center;
            height: 102px;
            margin-bottom: 70px;
        }
        @media screen and (max-width: 545px) {
            height: 76px;
        }
        @media screen and (max-width: 410px) {
            height: 65px;
            margin-bottom: 50px;
        }
        &_react {
            background-position: left center;
            background-size: 203px 63px;
            background-image: url(../img/technology/react.png);
            @media screen and (max-width: 1440px) {
                background-size: 170px 53px;
            }
            @media screen and (max-width: 1023px) {
                background-position: center;
            }
            @media screen and (max-width: 545px) {
                background-size: 127px 39px;
            }
            @media screen and (max-width: 410px) {
                background-size: 104px 32px;
            }
        }
        &_redux {
            background-position: center;
            background-size: 206px 55px;
            background-image: url(../img/technology/redux.png);
            @media screen and (max-width: 1440px) {
                background-size: 172px 46px;
            }
            @media screen and (max-width: 545px) {
                background-size: 129px 35px;
            }
            @media screen and (max-width: 410px) {
                background-size: 105px 28px;
            }
        }
        &_vue {
            background-position: center;
            background-size: 104px 90px;
            background-image: url(../img/technology/vue.png);
            @media screen and (max-width: 1440px) {
                background-size: 87px 75px;
            }
            @media screen and (max-width: 545px) {
                background-size: 65px 56px;
            }
            @media screen and (max-width: 410px) {
                background-size: 53px 46px;
            }
        }
        &_mc {
            background-position: right center;
            background-size: 242px 46px;
            background-image: url(../img/technology/mc.png);
            @media screen and (max-width: 1440px) {
                background-size: 202px 39px;
            }
            @media screen and (max-width: 1023px) {
                background-position: center;
            }
            @media screen and (max-width: 545px) {
                background-size: 151px 29px;
            }
            @media screen and (max-width: 410px) {
                background-size: 124px 24px;
            }
        }
        &_angular {
            background-position: left center;
            background-size: 230px 62px;
            background-image: url(../img/technology/angular.png);
            @media screen and (max-width: 1440px) {
                background-size: 192px 52px;
            }
            @media screen and (max-width: 1023px) {
                background-position: center;
            }
            @media screen and (max-width: 545px) {
                background-size: 143px 39px;
            }
            @media screen and (max-width: 410px) {
                background-size: 117px 32px;
            }
        }
        &_node {
            background-position: center;
            background-size: 238px 64px;
            background-image: url(../img/technology/node.png);
            @media screen and (max-width: 1440px) {
                background-size: 198px 53px;
            }
            @media screen and (max-width: 545px) {
                background-size: 148px 40px;
            }
            @media screen and (max-width: 410px) {
                background-size: 121px 33px;
            }
        }
        &_eth {
            background-position: center;
            background-size: 177px 122px;
            background-image: url(../img/technology/eth.png);
            @media screen and (max-width: 1440px) {
                background-size: 148px 102px;
            }
            @media screen and (max-width: 545px) {
                background-size: 111px 76px;
            }
            @media screen and (max-width: 410px) {
                background-size: 90px 62px;
            }
        }
        &_hyperledger {
            background-position: right center;
            background-size: 209px 97px;
            background-image: url(../img/technology/hyperledger.png);
            @media screen and (max-width: 1440px) {
                background-size: 175px 81px;
            }
            @media screen and (max-width: 1023px) {
                background-position: center;
            }
            @media screen and (max-width: 545px) {
                background-size: 131px 60px;
            }
            @media screen and (max-width: 410px) {
                background-size: 107px 49px;
            }
        }
    }
}

.contactForm {
    background: #1e55e2;
    padding: 95px 0 90px;
    @media screen and (max-width: 1600px) {
        padding: 75px 0;
    }
    @media screen and (max-width: 1280px) {
        padding: 60px 0;
    }
    &__topSection {
        display: flex;
        margin-bottom: 105px;
        @media screen and (max-width: 1600px) {
            margin-bottom: 80px;
        }
        @media screen and (max-width: 1440px) {
            width: 100%;
            justify-content: space-between;
        }
        @media screen and (max-width: 1023px) {
            flex-wrap: wrap;
            margin-bottom: 60px;
        }
        @media screen and (max-width: 767px) {
            width: 350px;
            margin: 0 auto 60px;
        }
        @media screen and (max-width: 410px) {
            width: 250px;
        }
    }
    &__title {
        width: 330px;
        margin-right: 140px;
        @media screen and (max-width: 1440px) {
            margin-right: 0;
        }
        @media screen and (max-width: 1280px) {
            width: 280px;
            margin-right: 35px;
        }
        @media screen and (max-width: 1023px) {
            width: 100%;
            margin-bottom: 50px;
        }
        @media screen and (max-width: 767px) {
            text-align: center;
        }
        @media screen and (max-width: 410px) {
            margin-bottom: 45px;
        }
    }
    &__address {
        @media screen and (max-width: 1280px) {
            width: 300px;
        }
        @media screen and (max-width: 1023px) {
            width: 340px;
        }
        &:first-of-type {
            margin-right: 140px;
            @media screen and (max-width: 1440px) {
                margin-left: auto;
                margin-right: 65px;
            }
            @media screen and (max-width: 1280px) {
                margin-right: 35px;
            }
            @media screen and (max-width: 1023px) {
                margin: 0;
            }
            @media screen and (max-width: 767px) {
                margin-bottom: 42px;
            }
        }
    }
    &__country {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 24px;
        display: block;
        color: #ffffff;
        margin-bottom: 24px;
        @media screen and (max-width: 410px) {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
    &__email {
        font-family: SFProDisplay;
        line-height: normal;
        font-size: 22px;
        color: #7ea1fc;
        display: block;
        @media screen and (max-width: 1440px) {
            font-size: 18px;
        }
        @media screen and (max-width: 410px) {
            font-size: 17px;
        }
    }
    &__fullAddress {
        font-family: SFProDisplay;
        line-height: normal;
        font-size: 22px;
        color: #7ea1fc;
        display: block;
        @media screen and (max-width: 1440px) {
            font-size: 18px;
        }
        @media screen and (max-width: 410px) {
            font-size: 17px;
        }
    }
    &__phone {
        font-family: SFProDisplay;
        line-height: normal;
        font-size: 22px;
        color: #7ea1fc;
        display: block;
        @media screen and (max-width: 1440px) {
            font-size: 18px;
        }
        @media screen and (max-width: 410px) {
            font-size: 17px;
        }
    }
    &__bottomSection {
        display: flex;
        @media screen and (max-width: 1440px) {
            width: 100%;
            justify-content: space-between;
        }
        @media screen and (max-width: 1023px) {
            flex-direction: column;
        }
        @media screen and (max-width: 767px) {
            width: 350px;
            margin: 0 auto;
        }
        @media screen and (max-width: 410px) {
            width: 250px;
        }
    }
    &__info {
        width: 330px;
        max-width: 100%;
        margin-right: 140px;
        flex-shrink: 0;
        @media screen and (max-width: 1440px) {
            margin-right: 0;
        }
        @media screen and (max-width: 1280px) {
            width: 280px;
        }
        @media screen and (max-width: 1023px) {
            width: 100%;
            margin-bottom: 60px;
        }
        @media screen and (max-width: 767px) {
            width: 315px;
        }
    }
    &__message {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 32px;
        color: #ffffff;
        margin-bottom: 24px;
        @media screen and (max-width: 1280px) {
            font-size: 26px;
        }
        @media screen and (max-width: 1023px) {
            margin-bottom: 6px;
        }
        @media screen and (max-width: 410px) {
            font-size: 24px;
        }
    }
    &__description {
        font-family: SFProDisplay;
        line-height: normal;
        font-size: 22px;
        color: #7ea1fc;
        margin-bottom: 45px;
    }
    &__presentationBtn {
        width: 252px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background: #4377ff;
        border-radius: 8px;
        font-family: SFProDisplay;
        font-size: 20px;
        text-align: right;
        padding-right: 32px;
        letter-spacing: 1px;
        color: #ffffff;
        text-decoration: none;
        position: relative;
        transition: all 0.35s ease;
        cursor: pointer;
        &:before {
            position: absolute;
            content: "";
            display: flex;
            background-image: url(../img/link.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 20px;
            height: 10px;
            top: 50%;
            transform: translateY(-50%);
            left: 29px;
        }
        &:hover {
            text-decoration: none;
            background: #224fc5;
        }
    }
    &__form {
        display: flex;
        flex-wrap: wrap;
        width: 780px;
        max-width: 100%;
        @media screen and (max-width: 1440px) {
            width: 585px;
        }
        @media screen and (max-width: 1280px) {
            width: 640px;
        }
        @media screen and (max-width: 767px) {
            width: 350px;
        }
    }
    &__inputsWrap {
        display: flex;
        margin-bottom: 64px;
        max-width: 100%;
        @media screen and (max-width: 767px) {
            flex-direction: column;
            margin-bottom: 50px;
            width: 100%;
        }
    }
    &__inputWrap {
        width: 360px;
        max-width: 100%;
        @media screen and (max-width: 767px) {
            width: 100%;
        }
        &:first-child {
            margin-right: 60px;
            @media screen and (max-width: 767px) {
                margin: 0 0 50px 0;
            }
        }
    }
    &__input {
        font-family: SFProDisplay;
        line-height: normal;
        font-size: 20px;
        letter-spacing: 1px;
        color: #ffffff;
        border: none;
        border-bottom: 2px solid #ffffff;
        background: transparent;
        width: 100%;
        padding: 0 22px 25px 22px;
        outline: none;
    }
    &__textareaWrap {
        width: 780px;
        max-width: 100%;
        margin-bottom: 78px;
        @media screen and (max-width: 767px) {
            margin-bottom: 55px;
        }
    }
    &__input,
    &__textarea {
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-family: SFProDisplay;
            line-height: normal;
            font-size: 20px;
            letter-spacing: 1px;
            color: #ffffff;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            font-family: SFProDisplay;
            line-height: normal;
            font-size: 20px;
            letter-spacing: 1px;
            color: #ffffff;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            font-family: SFProDisplay;
            line-height: normal;
            font-size: 20px;
            letter-spacing: 1px;
            color: #ffffff;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            font-family: SFProDisplay;
            line-height: normal;
            font-size: 20px;
            letter-spacing: 1px;
            color: #ffffff;
        }
    }
    &__textarea {
        font-family: SFProDisplay;
        line-height: normal;
        font-size: 20px;
        letter-spacing: 1px;
        color: #ffffff;
        border: none;
        border-bottom: 2px solid #ffffff;
        background: transparent;
        width: 100%;
        padding: 0 22px 25px 22px;
        resize: none;
        overflow: hidden;
        display: block;
        box-sizing: border-box;
        outline: none;
    }
    &__submitBtn {
        margin-left: auto;
        @media screen and (max-width: 767px) {
            margin: 0 auto;
        }
    }
}

.successMessage {
    display: none;
    background: #1e55e2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__message {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 32px;
        color: #ffffff;
        margin-bottom: 12px;
        @media screen and (max-width: 545px) {
            font-size: 20px;
        }
    }
    &__subMessage {
        font-family: SFProDisplay;
        line-height: normal;
        font-size: 22px;
        color: #7ea1fc;
        display: block;
        margin-bottom: 58px;
        @media screen and (max-width: 545px) {
            font-size: 17px;
        }
    }
    &__button {
        width: 252px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #4377ff;
        border-radius: 8px;
        font-family: SFProDisplay;
        font-size: 20px;
        letter-spacing: 1px;
        color: #ffffff;
        text-decoration: none;
        position: relative;
        transition: all 0.35s ease;
        cursor: pointer;
        &:hover {
            text-decoration: none;
            background: #224fc5;
        }
    }
}

.footer {
    display: flex;
    height: 84px;
    align-items: center;
    width: 100%;
    background: rgba(5, 5, 36, 0.79);
    @media screen and (max-width: 1023px) {
        height: auto;
        padding: 30px 0 35px;
    }
    @media screen and (max-width: 767px) {
        padding: 45px 0 45px;
    }
    &__row {
        align-items: center;
        @media screen and (max-width: 1023px) {
            justify-content: center;
        }
        @media screen and (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__logoLink {
        width: 240px;
        height: 20px;
        margin-right: 99px;
        @media screen and (max-width: 1440px) {
            width: 190px;
            height: 16px;
            margin-right: 36px;
        }
        @media screen and (max-width: 1023px) {
            margin-right: auto;
        }
        @media screen and (max-width: 767px) {
            margin: 0 auto 44px;
        }
    }
    &__nav {
        display: flex;
        @media screen and (max-width: 1023px) {
            margin-left: auto;
        }
        @media screen and (max-width: 767px) {
            margin: 0 auto;
        }
    }
    &__navList {
        display: flex;
        align-items: center;
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }
    &__navItem {
        margin-left: 35px;
        @media screen and (max-width: 767px) {
            margin: 0 0 10px;
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-left: 22px;
            @media screen and (max-width: 767px) {
                margin: 0;
            }
        }
    }
    &__navLink {
        font-family: SFProDisplay, sans-serif;
        line-height: normal;
        font-size: 17px;
        text-align: right;
        color: #ffffff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    &__linksWrap {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 70px;
        @media screen and (max-width: 1440px) {
            margin-right: auto;
        }
        @media screen and (max-width: 1023px) {
            width: 100%;
            justify-content: center;
            margin: 50px auto 24px;
        }
        @media screen and (max-width: 767px) {
            margin: 45px auto 35px;
        }
    }
    &__link {
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        svg {
            width: 100%;
            height: 100%;
            transition: all 0.25s ease;
        }
        path {
            transition: all 0.25s ease;
        }
        &_upwork {
            width: 106.99px;
            height: 30.29px;
            margin-right: 27px;
        }
        &_clutch {
            width: 80px;
            height: 22.79px;
        }
        &:hover {
            path {
                fill: #1e55e2;
            }
        }
    }
    &__socialLinks {
        display: flex;
        align-items: center;
    }
    &__socialLink {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        background: #32325c;
        border-radius: 100%;
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.25s ease;
        svg,
        path {
            transition: all 0.25s ease;
        }
        &:hover {
            background-color: #1e55e2;
            path {
                fill: #fff;
            }
        }
        &:nth-child(2) {
            margin: 0 10px;
        }
    }
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -30%;
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 1;
        transform: translateY(-65%);
    }
    100% {
        opacity: 0;
        transform: translateY(-35%);
    }
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -30%;
    }
}

@import "media";
$color: #fff;
.menu {
    width: 40px;
    height: 36px;
    position: relative;
    cursor: pointer;
    div {
        position: absolute;
        height: 4px;
        border-radius: 2px;
        background: $color;
        transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6), width 0.2s ease 0.2s;
    }
    input {
        display: none;
        &+div {
            top: 50%;
            left: 0;
            margin: -2px 0 0 0;
            width: 40px;
            transform-origin: 50% 50%;
            &+div {
                top: 2px;
                left: 0;
                width: 20px;
                transform-origin: 0 50%;
                &+div {
                    bottom: 2px;
                    right: 0;
                    width: 28px;
                    transform-origin: 100% 50%;
                    transform: translate(-12px, 0);
                }
            }
        }
        &:checked+div {
            transform: rotate(-45deg);
            transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s;
            &+div {
                width: 19px;
                transform: translate(6px, 0) rotate(45deg);
                transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s, width 0.2s ease;
                &+div {
                    width: 19px;
                    transform: translate(-6px, 0) rotate(45deg);
                    transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s, width 0.2s ease;
                }
            }
        }
    }
}